.cont-items-listar{
  display: grid;
  grid-template-rows: 35px;
  
  // grid-gap: 2px;
}
.items-listar{
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: black solid 1px;
  border-bottom: 1px solid black;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
.ultimo-item{
  border-right: solid 1px black ;
}



.btn-categoria{
  margin-bottom: 15px;
  font-size: 18px;
  
}