.contenedor-perfil-usuario{
  display: flex;
  background-color: white;
}
.usuario-master{
  width: 60%;
  margin: auto;
  margin-top: 20px;
}
.cabeza-editar-perfil{
  border: 1px solid #8A92A3;
  border-left-style: none;
  background-color: white;
  height: 100px;
  width: 100%;
  text-align: center;
  font-family: 'Roboto',sans-serif;
  padding-top: 20px;
}
.sidebar-editar-perfil{
  border: 1px solid #8A92A3;
  height: 100vh;
  background-color: white;
  width: 200px;
  // display: flex;
  // justify-content: center;
  padding-top: 30px;
}
.cuerpo-editar-perfil{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}
.sidebar-editar-icon{
  background-color: #686F7A;
  border-radius: 80px;
  font-size: 60px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont-cont-icon{
  display: flex;
  justify-content: center;
}
.nombres-editar-perfil{
  font-family: 'Roboto' ,sans-serif;
}