.master-pago-tarjeta{
}
.container-registro-tarjeta{
  height: 400px;
  width: 700px;
  // background-color: red;
  margin: auto;
}
.title-registrar-tarjeta{
  font-size: 25px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin: 10px 0;
}

.btn-agregar-tarjeta{
  width: 150px;
  font-size: 18px;
  margin-bottom: 30px;
}