.conteiner-tabla-producto{
  padding-top: 30px;
}
.btn-crear-modal-prod{
  display: flex;
  justify-content: center;
  width: 150px;
  margin: 0 auto;
}
.item-btn-editar-producto{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-editar-producto{
  font-size: 14px;
  width: 60px;
  height: 25px;
}