.cont-combo-button{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-crear-marca{
  height: 40px;
  letter-spacing: 0;
  width: 130px;
  font-size: 17px;
  margin-left: 25px;
}
.item-btn-editar-marca{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-editar-marca{
  height: 30px;
  width: 60px;
}