.container-foto-perfil-usuario{
  // border-right-style: solid 1px #DEDFE0;
}
.footer-importar-foto{
  border-right-style: solid 1px #DEDFE0;
}
.borde-perfil-usuario{
  border: solid 1px #DEDFE0;
  width: 500px;
  height: 381px;
}
.img-perfil-usuario{
  width: 100%;
  height: 100%;
}