.input-categoria{
  width: 270px;
  height: 38px;
  margin-bottom: 20px;
}
.input-categoria-subtitle{
  font-size: 15px;
  padding-bottom: 8px;
}
.title-categoria{
  font-family: 'Roboto', sans-serif;
  color: #2FB7EC;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.5px;
  padding-bottom: 15px;
}
.combo-categoria{
  font-size: 15px;
}