.container-item-tabla{
  display: grid;
  grid-template-rows: 40px;
  // grid-gap: 2px;
  border-radius: 10px;
}
.items{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: white;
  background-color: #2FB7EC;
}
.items2{
  display: flex;
  justify-content: center;
  align-items: center;
}
.items3{
  display: flex;
  justify-content: center;
  align-items: center;
}
