.cabeza-editar-perfil{
  border: 1px solid #DEDFE0;
  border-left-style: none;
  background-color: white;
  height: 10vh;
  width: 100%;
  text-align: center;
  font-family: 'Roboto',sans-serif;
  padding-top: 20px;
}
.cuerpo-editar-perfil{
  display: flex;
  justify-content: center;
  width: 100%;
  border: solid 1px #DEDFE0;
  height: 70vh;
  border-top-style: none;
  border-left-style: none;
  padding-top: 20px;
}
.input-form-editar-perfil{
  width: 70%;
  height: 100px;
}
.title-input-perfil{
  height: 40px;
  width: 70%;
}
.combo-perfil-usuario{
  height: 40px;
  width: 70%;
}






















